
<<<<<<< HEAD

=======
>>>>>>> a539bdb31abf8ffab918a3d48a2eb649f87bf278
body {
  /*background-image: url('/CO_MISARIA/imagenes/FOTO2.png');  Cambia 'fondo.jpg' por el nombre de tu imagen */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  margin: 0%;
  flex-direction: column;
  min-height: 100vh;
}
<<<<<<< HEAD
=======

>>>>>>> a539bdb31abf8ffab918a3d48a2eb649f87bf278
main{
  display: flex;

}
.navegacion {
  background-color: #23398b;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 0px 20px;
  display: flex; 
  flex-wrap: wrap;
  gap: 20px;
}

/*--BUSCADOR--*/

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

.cajabuscar {
  width: 100%;
  max-width: 400px; /*para ajustar el ancho del buscador cambiar aqui y en #buscarform el width */
  margin: 0px 30px 0px 0px;
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: auto;
}

#buscarform {
  padding: 0;
  float: left;
  clear: both;
  width: 400px;
  position: relative;
}

#buscarform fieldset {
  float: left
}

#buscarform .search {
  font-size: 20px;
  top: 0px;
  color: #FFF;
  background: #33BCF2;
  position: absolute;
  right: 0;
  top: 0;
  padding: 9px;
  height: 24px;
  width: 24px;
  text-align: center;
}

#buscarform fieldset {
  width: 100%
}

#s {
  width: 100%;
  background-color: #fff;
  float: left;
  padding: 8px 0;
  text-indent: 10px;
  color: #555555;
  border: 1px solid #fff;
  box-sizing: border-box;
  height: 42px;
}

.button {
  right: 0;
  top: 0;
  padding: 9px 0;
  float: right;
  border: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  color: #a4a4a4;
  transition: all 0.25s linear;
  background: transparent;
  z-index: 10;
  position: absolute;
  border: 0;
  vertical-align: top;
}

.boton-contacto {
  background-color: #FF4F00;
  /* Color de fondo */
  color: white;
  /* Color del texto */
  padding: 12px 20px;
  /* Espaciado interno */
  border: none;
  /* Sin bordes */
  border-radius: 5px;
  /* Bordes redondeados */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el botón */
  font-size: 16px;
  /* Tamaño de la fuente */
  margin: 0px 0px 0px 30px;
}

.boton-contacto:hover {
  background-color: #f76612;
  /* Cambia el color de fondo al pasar el mouse */
}

.navegacion_principal {
  background-color: #2220a0;
  text-align: center;
  display: flex;
  justify-content: center;
  position: none;
}

.navegacion_principal a {
  color: #ece7e7;
  text-decoration: none;
  margin: 30px 30px 20px 40px;
  font-size: 20px;
  font-family: Verdana;
}

.navegacion_principal a:hover {
  text-decoration: underline;
}

.logo img {
  width: auto;
  height: 100px;
  display: flex;
  margin-left: 0px;
}

.foto-principal img {
  width: 100%;
  height: auto;
}

.denuncias{
<<<<<<< HEAD
  background: #373874f3;
  display: flex;
  padding: 5px 0px 0px 0px;
  flex-direction: column;
=======
  background: #d60707f3;
  display: flex;
  padding:5%;
>>>>>>> a539bdb31abf8ffab918a3d48a2eb649f87bf278
  text-align: center;
  justify-content: center;
  position: none;
  color: #e2e2e2;
<<<<<<< HEAD
  margin: 30px 30px 30px 30px;
=======
  margin: 30px 30px 20px 40px;
>>>>>>> a539bdb31abf8ffab918a3d48a2eb649f87bf278
  font-size: 20px;
  font-family: Verdana;
  color:blanchedalmond

}
.denuncias a{
<<<<<<< HEAD
  color:#d6c8d880;
=======
  color:#61016e80;
>>>>>>> a539bdb31abf8ffab918a3d48a2eb649f87bf278
  margin: auto;
  padding:30px;
}

.denuncias a:hover {
  text-decoration: underline;
} 
.denuncias ul{
  text-align:center;
      position: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
       list-style: none;/* para quitar puntos*/
}

<<<<<<< HEAD
.flip-card {  /* modifica los cards */
  background-color: transparent;
  width: 500px;
  height: 500px;
  perspective: 1000px;
  font-family: sans-serif;
  justify-items: center right;
  display: flex;
  justify-content: center;
  align-items: center right;
  margin: 15px 15px 15px 15px;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;

}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 120%;
  height: 100%;
  text-align: center;
  transition: transform 0.10s;
  transform-style: preserve-3d;
  background-color: transparent;
  perspective: 1000px;
  font-family: sans-serif;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column-and-row;
  grid-template-rows: repeat(4, 2fr,2fr ,2fr ,2fr);
  grid-template-columns: repeat(4, 2fr,2fr ,2fr ,2fr);
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  height: 100%;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgb(43, 46, 231);
  border-radius: 1rem;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
  box-sizing: border-box;
  
}

.flip-card-front {
  background: linear-gradient(transparent) 60%, rgb(7, 76, 122) 88%,
     rgb(3, 126, 148) 40%, rgba(80, 127, 255, 0.603) 48%;
  color: rgba(80, 170, 255, 0.938);
  img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-sizing: border-box;
  }
}

.flip-card-back {
  background: linear-gradient(120deg, rgb(14,72,179) 30%, rgb(7,76,122) 88%,
     bisque 40%, rgb(143, 134, 131) 78%);
  color: rgb(170, 174, 184);
  transform: rotateY(180deg);
}

.flip-card-back img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-sizing: border-box;
}

.flip-card-back h1 {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  position: relative;

  /* creacion de footer */
      footer {
        text-align: center;
        background: #23398b;
        color:white;
        padding: 20px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:20px;
        font-size: 20px;
        list-style: none;
    }

    .indicefinal {
        display: flex;
        text-decoration: none;
        font-size: 30px;
        gap: 30px;
        margin: 30px 0;
    }

    .indicefinal ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    indicefinal li{
      padding: 5px 0;
    }

    .indicefinal a {
        text-decoration: none;
        color: whitesmoke;
        padding: block 20px;
    }

    .cajafinal {
        padding: 0px;
        font-size: 20px;
        color: white;
        font-weight: bold;
    }

    .cajafinal li {
        padding: 10px;
        font-weight: normal;
        text-align: left;
    }

    .indicefinal a:hover {
        text-decoration: underline;
    }
 

   /*--BOTON DE SCROLL UP--*/

   #boton-arriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    display: none; /* Inicialmente oculto */
    z-index: 1000; /* Asegura que el botón esté sobre otros elementos */
}

#boton-arriba img {
    width: 50px; /* Ajusta el tamaño de la imagen */
    height: 50px;
}

#boton-arriba:hover img {
    opacity: 0.8; /* Efecto hover */
}
.scrollUp:hover img{
   opacity: 0.5;}
.redes {
  width: 50px;
  height: 50px;
  position: fixed; /* Fija el contenedor en la pantalla */
      /* Fija las redes sociales en la pantalla */
      bottom: 10px; /* Espaciado desde la parte inferior */
      left: 10px; /* Espaciado desde la izquierda */
      display: flex; /* Alinea los iconos a la derecha */
      gap: 10px; /* Espaciado entre los iconos */
      justify-content: flex-end; /* Alinea los iconos a la derecha */
      align-items: center;

      margin: right 20px;
      list-style: none;
     /* Elimina los puntos de lista */
     /* Asegura que estén por encima de otros elementos */
     border-radius: 50%;
      padding: 10px;
      background-color: #1e3aa1; /* Color de fondo */
      box-shadow: 10px 4px 8px rgba(1, 0, 0, 0.2); /* Sombra para un efecto de elevación */
      z-index: 1000; /* Asegura que el contenedor esté sobre otros elementos */
      transition: transform 0.3s ease; /* Transición suave al pasar el mouse */
  }
  
.redes.li{
    width:30px;
    height: 30px;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    list-style: none;
    text-decoration: none; /* Elimina los puntos de lista */
  }

  .redes img{
    width: 50px;
    height: 50px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 50%;
    box-sizing: border-box;
    filter: brightness(16px);
    transition: transform 0.3s ease;
    cursor: pointer; 
  }}
  
  .redes img:hover {
    transform: scale(1.2); /* Aumenta ligeramente el tamaño al pasar el mouse */
}
=======
  /* creacion de footer */
  footer {
      text-align: center;
      background: #23398b;
      position: none;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .indicefinal {
      display: flex;
      text-decoration: none;
      font-size: 30px;
      gap: 30px;
      margin: 30px 0;
  }

  .indicefinal ul {
      list-style-type: none;
  }

  .indicefinal a {
      text-decoration: none;
      color: whitesmoke;
      padding: block 20px;
  }

  .cajafinal {
      padding: 0px;
      font-size: 20px;
      color: white;
      font-weight: bold;
  }

  .cajafinal li {
      padding: 10px;
      font-weight: normal;
      text-align: left;
  }

  .indicefinal a:hover {
      text-decoration: underline;
  }


/* From Uiverse.io by gharsh11032000 */ 
.card {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 100px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card svg {
    width: 10px  0px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  .scrollToTop{
    width: 40px;
    height: 40px;  
   background-color: rgb(16, 16, 38);
   color:azure;
   position: fixed;
   bottom: 20px ;
   right: 20px;
   display: flex;
    align-items: center;
    box-shadow:  0 4px 8px rgba(255, 7, 7, 0.2);
    transition: background-color 0.3s;
    box-sizing: border-box;
    justify-content: center;
    cursor:pointer;
    z-index: 1000;/*boton estte por encima del elemento*/  }
  .scrollToTop:hover{
        background-color: #707f90;
  }
  
  .arrow-up {
    bottom: 100px;
    left: 30px;
    right: 30px;
    position: fixed;
    text-align: center;
    width: 40px;
    z-index: 5000;
    color: #14001d5a;http://127.0.0.1:3000/CO_MISARIA/imagenes/denuncias/CO_Denuncias.html
    font-size: 24px;
  }

  footer p{
    color: #e2e2e2;
    font-size: 20px;
    font-family: Verdana;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    text-align: center;
    background-color: #23398b;
    position: static;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
  }
>>>>>>> a539bdb31abf8ffab918a3d48a2eb649f87bf278
